/* Settings */
:root {
  /* (b)reakpoints */
  --b-xsm: 18.75rem;
  --b-sm: 40rem;
  --b-med: 66.5rem;
  --b-lg: 112rem;

  /* (c)olors */
  --c-accent: rgba(242, 230, 222, 1);
  --c-accent-shadow: rgba(222, 210, 200, 1);
  --c-neutral-dark: rgba(5, 5, 5, 1);
  /* --c-neutral-dark: rgba(41, 26, 16, 1); */
  --c-neutral-light: rgba(253, 251, 250, 1);
  --c-monogram-bg: rgba(190, 190, 190, 1);
  --c-monogram-accent: rgba(205, 175, 96, 1);
  --c-monogram-highlight: rgba(218, 194, 138, 1);
  --c-highlight: rgba(255, 255, 0, 1);

  /* (d)imensions */
  --d-header-height: calc(55px + (1rem * 2)); /* i.e., logo height + header padding */
  --d-header-padding: calc(1rem * 2);
  --d-logo-height: 55px;
  --d-nav-height: 145px;

  /* (s)pacing */
  --s-med: 1rem;
  --s-sm: 0.5rem;
  --s-lg: 2rem;
  --s-xl: 5rem;

  /* other */
  --accent-font: 'Source Code Pro Variable', monospace;
}

/* Tools */

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes highlight {
  0% {
    background-image: linear-gradient(90deg, var(--c-highlight) 0%, transparent 0%);
    background-position: left;
  }
  25% {
    background-image: linear-gradient(90deg, var(--c-highlight) 0%, transparent 25%);
    background-position: left;
  }
  50% {
    background-image: linear-gradient(90deg, var(--c-highlight) 25%, transparent 50%);
  }
  75% {
    background-image: linear-gradient(90deg, var(--c-highlight) 50%, transparent 75%);
    background-position: left;
  }
  100% {
    background-image: linear-gradient(90deg, var(--c-highlight) 75%, transparent 100%);
    background-position: left;
  }
}

@keyframes slidedown {
  from {
    opacity: 0;
    transform: translateY(-5%);
  }

  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes slideup {
  from {
    opacity: 1;
    transform: translateY(0%);
  }

  to {
    opacity: 0;
    transform: translateY(-5%);
  }
}

/* Generics */

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--c-neutral-dark);
  color: var(--c-neutral-light);
  font-family: "Open Sans Variable", sans-serif;
  margin: 0;
  min-width: var(--b-xsm);
  width: 100%;
}

/* Elements */
button {
  background-color: transparent;
  color: inherit;
  border: none;
  margin: 0;
  padding: 0;
  text-align: inherit;
  font: inherit;
  border-radius: 0;
  appearance: none;
}

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Components */

.home-layout {
	display: flex;
	flex-flow: column;
	height: 100%;
	/* min-height: 95vh; */
	padding-inline: 1em;
	padding-block: 0.5em;
}

.width-container {
  max-width: 80rem;
  margin-inline: auto;
}

.header {
  background: var(--c-neutral-dark);
  max-width: 100%;
  position: sticky;
  top: 0;
  z-index: 99;
}

/* .header {
  align-items: center;
  display: grid;
  grid-template-areas: "logo toggle" "nav nav";
  justify-content: space-between;
  justify-items: center;
  padding: var(--s-sm);
} */

.header_text {
  font-size: 1.25em
}

/* .header__toggle {
  cursor: pointer;
}

.header__link {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-family: var(--accent-font);
  justify-self: start;
}

.header__link:link,
.header__link:visited {
  color: var(--c-neutral-light);
  text-decoration: none;
  font-weight: bold;
}

.header__link:active {
  color: var(--c-accent);
}

.header__icon {
  padding-inline-end: var(--s-sm);
} */

.main {
  align-content: center;
  flex-grow: 1;
  text-align: justify;
  /* min-width: 95vh; */
}

.main_outer-border {
  border-bottom: 0.25rem solid var(--c-neutral-light);
  border-left: 0.25rem solid var(--c-neutral-light);
  background-color: var(--c-neutral-dark);
  padding: var(--s-sm)
}

.main_inner-container {
  border-right: 0.5rem solid var(--c-highlight);
  border-top: 0.5rem solid var(--c-highlight);
  background-color: var(--c-neutral-light);
  color: var(--c-neutral-dark);
  font-weight: 600;
  margin: var(--s-sm);
  padding: var(--s-med);
}

.main_inner-container > p:first-child {
  margin-block-start: 0;
}

.nav,
.nav--closing {
  animation-name: slidedown;
  animation-duration: 500ms;
  animation-iteration-count: 1;
  background: var(--c-neutral-dark);
  border-inline: 1px solid var(--c-accent);
  border-block: 1px solid var(--c-accent);
  box-shadow: -5px 5px 1px var(--c-accent-shadow);
  color: var(--c-neutral-light);
  max-width: 20rem;
  min-height: 100%;
  right: 0;
  position: absolute;
  top: 66px;
  width: 100%;
}

.nav--closing {
  animation-name: slideup;
  animation-duration: 250ms;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  opacity: 0;
}

.nav--closed {
  display: none;
}

.nav-links {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center;
  text-transform: uppercase;
}

.nav-links__wrapper {
  width: 100%;
}

.nav-links__link {
  display: inline-block;
  padding-block: calc(var(--s-med) * 1.25);
  width: 100%;
}

.link:link,
.link:visited {
  color: currentColor;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: var(--c-monogram-accent);
  text-decoration-thickness: 0.15rem;
}

.link:hover,
.link:active {
  text-decoration-color: var(--c-accent);
  transition: text-decoration-color 0.5s;
}

.link:active {
  color: var(--c-accent-shadow);
}

.content {
  padding-inline: var(--s-sm);
}

.section {
  padding-block: var(--d-header-height);
}

.section-background {
  background-color: var(--c-neutral-light);
  border-radius: 10px;
  color: var(--c-neutral-dark);
  margin-block-end: 5rem;
  padding-inline: 1rem;
}

.section__heading {
  font-family: var(--accent-font);
  margin-block-start: 0;
}

.section > p {
  margin-block-end: 0;
}

.intro {
  background-color: var(--c-neutral-dark);
  color: var(--c-neutral-light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* min-height: 95vh; */
}

.intro__heading {
  font-size: clamp(2rem, 0.2353rem + 9.4118vw, 4rem);
}

.intro__heading,
.intro__descr {
  font-family: var(--accent-font);
  margin-block: 0;
}

.intro__descr {
  animation-duration: 1.5s;
  animation-name: fadein;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  font-size: 1rem;
}

.highlighted-text {
  color: var(--c-neutral-dark);
  animation-name: highlight;
  animation-duration: 500ms;
  animation-iteration-count: 1;
  background-image: linear-gradient(to right, var(--c-highlight) 100%, transparent);
}

.intro__cta {
  color: var(--c-neutral-light);
  display: block;
  margin-block-start: var(--s-med);
  animation: 500ms ease-in 1.25s 1 both running fadein;
  animation: 1.5s ease-in 1.75s 3 both running fadein;
  font-size: 2rem;
}

.link-button {
  border: 1px solid var(--c-neutral-dark);
  border-radius: 2rem;
  color: var(--c-neutral-dark);
  font-weight: bold;
  padding: var(--s-sm);
  width: fit-content;
  transition: all 0.5s;
}

.link-button:link,
.link-button:visited {
  background: var(--c-accent);
  box-shadow: inset -0.25rem -0.25rem var(--c-accent-shadow);
  color: currentColor;
  color: var(--c-neutral-dark);
  text-decoration: none;
}

.link-button:hover {
  background: var(--c-monogram-accent);
  box-shadow: inset 0.25rem 0.25rem var(--c-monogram-highlight);
  color: var(--c-neutral-light);
  text-decoration: none;
}

.link-button:active {
  color: var(--c-neutral-dark);
}

.external-link {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: var(--s-sm);
  max-width: fit-content
}

.external-link img {
  max-height: 0.75em
}

/* .external-link:after {
  background-image: url('/svg/externalLink.svg');
  background-size: 0.75rem 0.75rem;
  content: '';
  position: absolute;
  margin-inline-start: calc(var(--s-sm) / 3);
  width: 0.75rem;
  height: 0.75rem;
} */

.project {
  margin-block-end: var(--s-xl);
}

.project__image-wrapper {
  margin-inline: 0;
}

.project__image {
  max-width: 25rem;
  width: 100%;
}

.project__subheading {
  margin-block-end: 0;
}

.project__subheading:after {
  content: ':'
}

.project__links > a:nth-child(2) {
  margin-inline-start: var(--s-sm);
}

.techstack {
  margin-block-end: var(--s-med);
}

.techstack__tech {
  --border-radius: 0.5rem;

  background: white;
  color: black;
  display: inline-block;
  border: 1px solid var(--c-accent);
  border-radius: var(--border-radius);
  width: fit-content;
  padding: calc(0.5 * var(--border-radius));
  margin: calc(0.25 * var(--border-radius));
}

#contact {
  text-align: center;
}

.social-media__container {
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
	justify-content: space-between;
  margin: var(--s-med) auto;
  max-width: var(--b-sm);
}

.social-media__link {
  border-color: transparent;
}

.social-media__link:hover {
  border-bottom: 3px solid var(--c-monogram-bg);
  transition: border-color 0.5s;
}

.footer {
  text-align: center;
  margin-block: var(--s-lg);
}

.footer > p {
  margin-block: 0;
}

@media (min-width: 40rem) {
  .header {
    grid-template-areas: "logo nav";
    grid-template-columns: 4fr 6fr;
    padding-inline: var(--s-med)
  }

  .header__toggle {
    display: none;
  }

  .nav {
    border: unset;
    box-shadow: unset;
    max-width: unset;
    min-height: unset;
    position: unset;
    width: 90%;
  }

  .nav--closed {
    display: unset;
    width: 90%;
  }

  .nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .nav-links__wrapper {
    border: 0px;
    width: unset;
  }

  .nav-links__wrapper:first-child {
    border: 0px;
  }

  .nav-links__link {
    display: unset;
    padding-block: unset;
    width: unset;
  }

  .main {
    text-align: unset;
  }

  .content {
    padding-inline: var(--s-med);
  }

  .project {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 1rem;
  }

  .project__image-wrapper {
    grid-column: 2;
    grid-row: 1/4;
    align-self: center;
  }

  .project__links {
    grid-column: 2;
    grid-row: 4;
  }
}

@media (min-width: 66.5rem) {
  .header {
    padding-inline: var(--s-lg);
  }

  .nav-links {
    justify-content: end;
  }

  .nav-links__wrapper {
    padding-inline: var(--s-lg);
  }

  .content {
    padding-inline: var(--s-lg);
  }

  .intro {
    text-align: center;
  }

  .intro__cta {
    margin-inline: auto;
  }

  .project {
    grid-column-gap: var(--s-xl)
  }
}
