:root {
  --bg: rgba(253, 251, 250, 1);
  --text: rgba(5, 5, 5, 1);
  /* --link: #0033cc; */
  --link: rgb(37, 61, 138);
  --hover: rgb(0, 0, 138);
  --accent: #0033cc;
}

:root[data-theme="dark"] {
  --bg: rgba(5, 5, 5, 1);
  --text: rgba(253, 251, 250, 1);
  --link: rgba(218, 194, 138, 1);
  --hover: rgb(248, 224, 138);
  --accent: #ffff00; /* yellow accent */
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background: var(--bg);
  color: var(--text);
  line-height: 1.6;
}

header,
main,
footer {
  max-width: 50rem;
  margin: auto;
  padding: 1rem;
}

h1 {
  font-size: 1.25em;
  text-transform: uppercase;
}

a {
  color: var(--link);
  font-weight: 500;
}

.unbutton {
  background-color: transparent;
  color: inherit;
  border: none;
  margin: 0;
  padding: 0;
  text-align: inherit;
  font: inherit;
  border-radius: 0;
  appearance: none;
}

a:hover {
  color: var(--hover)
}

a:focus,
button:focus {
  outline: 3px solid var(--accent);
  outline-offset: 2px;
}

nav > ul {
	align-items: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 1.75em;
	list-style: none;
	padding-inline: 0;
	width: 100%;
}

.skip-link {
  position: absolute;
  left: -999px;
}

.skip-link:focus {
  left: 1rem;
  top: 1rem;
  background: var(--bg);
  padding: 0.5rem;
}

.posts {
  display: flex;
  flex-direction: column;
  gap: 3em;
  list-style: none;
  padding-inline: 0;
}

.posts > li > p {
  margin: 0;
  padding: 0;
}

.posts .tags {
  display: inline-flex
}

.tags {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.tags > p {
  display: none
}

.icon {
  height: 2em;
  border: 0
}


